<div class="row">
    <div class="col-12 col-sm-9">
        <h2><i class="fa fa-users"></i> {{ _("Accounts") }} <small class="text-muted">{{ domain.name }}</small></h2>
    </div>
    <div class="col-12 col-sm-3">
        <a class="btn btn-outline-primary float-sm-right d-none d-sm-block" href="/domain/{{ domain.id }}/add_account" role="button"><i class="fa fa-user-plus"></i><span class="d-sm-none d-md-inline"> {{ _("Add") }}</span></a>
        <a class="btn btn-outline-primary btn-block d-block d-sm-none" href="/domain/{{ domain.id }}/add_account" role="button"><i class="fa fa-user-plus"></i> {{ _("Add") }}</a>
    </div>
</div>

<form id="accountFilterForm" method="post" data-domainid="{{ domain.id }}">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-1">
            <div class="input-group">
                <input type="search" id="searchString" name="searchString" class="form-control" value="{{ searchString }}" placeholder="{{ _("Filter accounts") }}">
                <span class="input-group-btn">
                    <button id="accountFilterFormSubmit" type="submit" class="btn btn-light" title="{{ _("Apply filters") }}"><i class="fa fa-filter"></i></button>
                </span>
                <span class="input-group-btn">
                    <button id="accountFilterFormReset" type="button" class="btn btn-light" title="{{ _("Reset filters") }}"><i class="fa fa-undo"></i></button>
                </span>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-1">
            <select class="form-control" id="searchRole" name="searchRole">
                <option value="username"{% if searchRole == "username" %} selected{% endif %}>{{ _("Filter user name") }}</option>
                <option value="email"{% if searchRole == "email" %} selected{% endif %}>{{ _("Filter email address") }}</option>
                <option value="forward"{% if searchRole == "forward" %} selected{% endif %}>{{ _("Filter forward") }}</option>
            </select>
        </div>
    </div>
    <input type="hidden" id="sortOrder" name="sortOrder" value="{{ sortOrder }}">
    <input type="hidden" id="sortBy" name="sortBy" value="{{ sortBy }}">
    <input type="hidden" id="currentPage" name="currentPage" value="1">
    <input type="hidden" id="accountsPerPage" name="accountsPerPage" value="25">
</form>

<div class="row mt-1">
    <div class="col-12">
        <table id="accountsTable" class="table table-responsive">
            <thead>
                <tr>
                    <th>{{ _("Actions") }}</th>
                    <th class="sortable" data-sortby="username" data-sortorder="asc" data-sorttype="alpha">{{ _("Username") }}</th>
                    <th>{{ _("Email addresses") }}</th>
                    <th>{{ _("Forwards") }}</th>
                    <th class="sortable" data-sortby="quota" data-sortorder="desc" data-sorttype="amount">{{ _("Quota") }}</th>
                    <th>{{ _("Times") }}</th>
                    <th>{{ _("Services") }}</th>
                </tr>
            </thead>
            <tbody id="accountsTableBody">
            </tbody>
        </table>
    </div>
</div>

<template id="account-template">
    <tr class="account-row">
        <td>
            <div class="btn-group">
                <a class="btn btn-sm btn-light" title="{{ _("Edit account") }}" role="buton"><i class="fa fa-edit fa-fw"></i></a>
                <button class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">{{ _("Toggle dropdown") }}</span></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"><i class="fa fa-envelope-o fa-fw"></i> {{ _("Email addresses") }}</a>
                    <a class="dropdown-item"><i class="fa fa-mail-forward fa-fw"></i> {{ _("Forwards") }}</a>
                    <a class="dropdown-item check-account-btn" href="#" data-target="#checkAccountModal" data-toggle="modal"><i class="fa fa-stethoscope fa-fw"></i> {{ _("Check account") }}</a>
                    <a class="dropdown-item remove-account-btn text-danger" href="#" data-target="#removeAccountModal" data-toggle="modal"><i class="fa fa-trash fa-fw"></i> {{ _("Delete account") }}</a>
                </div>
            </div>
        </td>
        <td><a title="{{ _("Email addresses") }}"></a><br><small class="text-muted">{{ _("ID:") }}</small></td>
        <td></td>
        <td></td>
        <td>
            <div class="progress"><div role="progressbar" aria-valuemin="0"></div></div>
            <p class="text-right"><small></small></p>
        </td>
        <td></td>
        <td><i></i> IMAP<br><i></i> POP<br><i></i> Sieve<br><i></i> SMTP-Auth</td>
    </tr>
</template>

<div id="loadingActive" class="row mt-3">
    <div class="col-12 text-center">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>
</div>


<div id="emptyListInfo" class="row mt-4 justify-content-center hidden-on-start">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <div class="card border-primary text-center">
            <div class="card-body">
                <h2 class="card-title">{% i18n "No accounts for %1" domain.name %}</h2>
                <p class="card-text">{{ _("There are no user accounts for this domain. Add new email accounts by hitting the button below or change your filter settings.") }}</p>
                <a href="/domain/{{ domain.id }}/add_account" class="btn btn-primary"><i class="fa fa-plus"></i> {{ _("Add Account") }}</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="checkAccountModal" tabindex="-1" role="dialog" aria-describedby="checkAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkAccountLabel">{{ _("Check account") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="checkAccountName"></h3>
                <form id="checkAccountForm">
                    {% if domain.children.count > 0 %}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="checkChildAddresses" value="1">
                            {{ _("Check for missing child domain addresses") }}
                        </label>
                    </div>
                    {% endif %}
                </form>
                <div id="checkAccountActive" class="text-center">
                    <i class="fa fa-circle-o-notch fa-5x fa-spin"></i>
                </div>
                <ul id="checkAccountList">
                </ul>
                <div class="container-fluid">
                    <div class="row">
                        <div id="check-account-message-container" class="col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> {{ _("Cancel") }}</button>
                <button type="button" id="checkAccountSubmit" class="btn btn-danger"><i id="checkAccountIcon" class="fa fa-stethoscope"></i> {{ _("Check") }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeAccountModal" tabindex="-1" role="dialog" aria-describedby="removeAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeAccountLabel">{{ _("Delete account") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-warning fa-5x text-danger"></i>
                    <h3 id="removeAccountName"></h3>
                    <p class="text-warning">{{ _("Are you sure you want to delete this account?") }}</p>
                    <p>{{ _("To proceed, please enter the user name of the account you want to delete.") }}</p>
                    <form id="removeAccountForm">
                        <input type="text" id="accountName" name="accountName" class="form-control" placeholder="{{ _("Account name") }}" value="" required>
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div id="remove-account-message-container" class="col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> {{ _("Cancel") }}</button>
                <button type="submit" id="removeAccountSubmit" form="removeAccountForm" class="btn btn-danger"><i id="removeAccountIcon" class="fa fa-trash"></i> {{ _("Delete") }}</button>
            </div>
        </div>
    </div>
</div>

<script type="application/json" id="translationStrings">
    {
        "catchAll": "{{ _("Catches all undefined email addresses for this domain.") }}",
        "keepLocal": "{{ _("keep local copy") }}",
        "loadMore": "{{ _("Load more") }}",
        "id": "{{ _("ID:") }}",
        "htmlTemplatesNotAvailable": "{{ _("Your browser does not support the HTML template tag.") }}"
    }
</script>
