<div class="row">
    <div class="col"><h2><i class="fas fa-user-plus"></i> {{ _("Create new account") }} <small class="text-muted">{{ domain.name }}</small></h2></div>
</div>

{% i18nc_var "Placeholder for datetime inputs, shown to the user as a hint how to input datetimes" "YYYY-MM-DDTHH:mm" as dtFormatPlaceholder %}
{% i18nc_var "Placeholder for date inputs, shown to the user as a hint how to input dates" "YYYY-MM-DD" as dateFormatPlaceholder %}
{% i18nc_var "Placeholder for time inputs, shown to the user as a hint how to input times" "HH:mm" as timeFormatPlaceholder %}

<form method="post">
    {% c_csrf_token %}

    <fieldset>
        <div class="row mt-1">

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="accounts">{{ help.accounts.title }}</label>
                <input type="text" class="form-control" value="{{ _(domain.accounts) }}{% if domain.maxAccounts > 0 %}/{{ _(domain.maxAccounts) }}{% endif %}" aria-describedby="accountsDesc" readonly="readonly" />
                <small id="accountsDesc" class="form-text text-muted">{{ help.accounts.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="domainQuota">{{ help.domainQuota.title }}</label>
                <input type="text" class="form-control" value="{% sk_fsf domain.domainQuotaUsed 2 2 1024 %}{% if domain.domainQuota > 0 %}/{% sk_fsf domain.domainQuota 2 2 1024 %} ({{ domain.domainQuotaUsagePercent|floatformat:2 }}%){% endif %}" aria-describedby="domainQuotaDesc" readonly="readonly" />
                <small id="domainQuotaDesc" class="form-text text-muted">{{ help.domainQuota.text }}</small>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-row">

                    <div class="form-group col-8 mb-0">
                        <label class="col-form-label" for="validUntilDate">{{ help.validUntilDate.title }}</label>
                        <input type="date" id="validUntilDate" name="validUntilDate" class="form-control{% if validationErrors.validUntilDate.count %} is-invalid{% endif %}" placeholder="{{ dateFormatPlaceholder }}" value="{% sk_tzc validUntilDate|default:domain.validUntil "yyyy-MM-dd" %}" aria-describedby="validUntilDesc" required="required" max="{% sk_tzc maxValidUntilDate "yyyy-MM-dd" %}" />
                    </div>

                    <div class="form-group col-4 mb-0">
                        <label class="col-form-label" for="validUntilTime">{% i18nc "Label for the valid until time field" "Time" %}</label>
                        <input type="time" id="validUntilTime" name="validUntilTime" class="form-control{% if validationErrors.validUntilTime.count %} is-invalid{% endif %}" placeholder="{{ timeFormatPlaceholder }}" value="{% sk_tzc validUntilTime|default:domain.validUntil "HH:mm" %}" aria-describedby="validUntilDesc" required="required"/>
                    </div>

                    <div class="col-12 mb-3">
                        {% if validationErrors.validUntilDate.count %}<div class="invalid-feedback"><small>{{ validationErrors.validUntilDate.0 }}</small></div>{% endif %}
                        {% if validationErrors.validUntilTime.count %}<div class="invalid-feedback"><small>{{ validationErrors.validUntilTime.0 }}</small></div>{% endif %}
                        <small id="validUntilDesc" class="form-text text-muted">{{ help.validUntil.text }}</small>
                    </div>

                </div>
            </div>

        </div>
    </fieldset>

    <fieldset>
        <div class="row">

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="username">{{ help.username.title }}</label>
                <input type="text" id="username" name="username" class="form-control{% if validationErrors.username.count %} is-invalid{% endif %}" value="{{ username }}" placeholder="{{ help.username.title }}" aria-describedby="usernameDesc" {% if domain.freeNames %}required="required"{% else %}readonly="readonly"{% endif %} />
                {% if validationErrors.username.count %}<div class="invalid-feedback"><small>{{ validationErrors.username.0 }}</small></div>{% endif %}
                <small id="usernameDesc" class="form-text text-muted">{{ help.username.text }}</small>
            </div>

            {% if domainasprefix or not domain.freeNames %}
            <input type="hidden" name="username" value="{{ username }}">
            {% endif %}

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="localpart">{{ help.localpart.title }}</label>
                <div class="input-group">
                    <input type="text" id="localpart" name="localpart" class="form-control{% if validationErrors.localpart.count %} is-invalid{% endif %}" value="{{ localpart }}" placeholder="{{ _("Local part") }}" aria-describedby="localpartDesc" required="required" />
                    <div class="input-group-append"><span class="input-group-text">@{{ domain.name }}</span></div>
                </div>
                {% if validationErrors.localpart.count %}<div class="invalid-feedback"><small>{{ validationErrors.localpart.0 }}</small></div>{% endif %}
                <small id="localpartDesc" class="form-text text-muted">{{ help.localpart.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label for="quota" class="col-form-label">{{ help.quota.title }}</label>
                <input type="text" id="quota" name="quota" class="form-control{% if validationErrors.quota.count %} is-invalid{% endif %}" value="{% sk_fsf quota|default:domain.quota 2 2 1024 %}" placeholder="{{ help.quota.title }}" aria-describedby="quotaDesc" pattern="^\d+[,.٫]?\d*\s*[KkMmGgTt]?[Ii]?[Bb]?">
                {% if validationErrors.quota.count %}<div class="invalid-feedback"><small>{{ validationErrors.quota.0 }}</small></div>{% endif %}
                <small id="quotaDesc" class="form-text text-muted">{{ help.quota.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="password">{{ help.password.title }}</label>
                <input type="password" id="password" name="password" class="form-control{% if validationErrors.password.count %} is-invalid{% endif %}" placeholder="{{ help.password.title }}" aria-describedby="passwordDesc" required="required" autocomplete="new-password" />
                {% if validationErrors.password.count %}<div class="invalid-feedback"><small>{{ validationErrors.password.0 }}</small></div>{% endif %}
                <small id="passwordDesc" class="form-text text-muted">{{ help.password.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="password_confirmation">{{ help.password_confirmation.title }}</label>
                <input type="password" id="password_confirmation" name="password_confirmation" class="form-control{% if validationErrors.password.count %} is-invalid{% endif %}" placeholder="{{ help.password_confirmation.title }}" aria-describedby="passwordConfirmationDesc" required="required" autocomplete="new-password" />
                <small id="passwordConfirmationDesc" class="form-text text-muted">{{ help.password_confirmation.text }}</small>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-row">

                    <div class="form-group col-8 mb-0">
                        <label class="col-form-label" for="passwordExpiresDate">{{ help.passwordExpiresDate.title }}</label>
                        <input type="date" id="passwordExpiresDate" name="passwordExpiresDate" class="form-control{% if validationErrors.passwordExpiresDate.count %} is-invalid{% endif %}" placeholder="{{ dateFormatPlaceholder }}" value="{% sk_tzc passwordExpiresDate|default:"2998-12-31" "yyyy-MM-dd" %}" aria-describedby="passwordExpiresDesc" required="required" />
                    </div>

                    <div class="form-group col-4 mb-0">
                        <label class="col-form-label" for="passwordExpiresTime">{% i18nc "Label for the password expires time field" "Time" %}</label>
                        <input type="time" id="passwordExpiresTime" name="passwordExpiresTime" class="form-control{% if validationErrors.passwordExpiresTime.count %} is-invalid{% endif %}" placeholder="{{ timeFormatPlaceholder }}" value="{% sk_tzc passwordExpiresTime|default:"23:59" "HH:mm" %}" aria-describedby="passwordExpiresDesc" required="required"/>
                    </div>

                    <div class="col-12 mb-3">
                        {% if validationErrors.passwordExpiresDate.count %}<div class="invalid-feedback"><small>{{ validationErrors.passwordExpiresDate.0 }}</small></div>{% endif %}
                        {% if validationErrors.passwordExpiresTime.count %}<div class="invalid-feedback"><small>{{ validationErrors.passwordExpiresTime.0 }}</small></div>{% endif %}
                        <small id="passwordExpiresDesc" class="form-text text-muted">{{ help.passwordExpires.text }}</small>
                    </div>

                </div>
            </div>

        </div>
    </fieldset>

    <fieldset>
        <legend>{{ _("Service access") }}</legend>
        <div class="row">

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="imap" name="imap" value="1" aria-describedby="imapDesc"{% if imap %} checked="checked"{% endif %} />
                    <label class="form-check-label">{{ help.imap.title }}</label>
                    <small id="imapDesc" class="form-text text-muted">{{ help.imap.text }}</small>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="pop" name="pop" value="1" aria-describedby="popDesc"{% if pop %} checked="checked"{% endif %} />
                    <label class="form-check-label">{{ help.pop.title }}</label>
                    <small id="popDesc" class="form-text text-muted">{{ help.pop.text }}</small>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="sieve" name="sieve" value="1" aria-describedby="sieveDesc"{% if sieve %} checked="checked"{% endif %} />
                    <label class="form-check-label">{{ help.sieve.title }}</label>
                    <small id="sieveDesc" class="form-text text-muted">{{ help.sieve.text }}</small>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="smtpauth" name="smtpauth" value="1" aria-describedby="smtpauthDesc"{% if smtpauth %} checked="checked"{% endif %} />
                    <label class="form-check-label">{{ help.smtpauth.title }}</label>
                    <small id="smtpauthDesc" class="form-text text-muted">{{ help.smtpauth.text }}</small>
                </div>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="catchall" name="catchall" value="1" aria-describedby="catchallDesc"{% if catchall %} checked="checked"{% endif %} />
                    <label class="form-check-label">{{ help.catchall.title }}</label>
                    <small id="catchallDesc" class="form-text text-muted">{{ help.catchall.text }}</small>
                </div>
            </div>

        </div>
    </fieldset>

    <fieldset>
        <div class="row">

            {% if domain.children.count > 0 %}
            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label for="children" class="col-form-label">{{ help.children.title }}</small>
                <select multiple class="form-control select2" id="children" name="children" aria-describedby="childrenDesc">
                {% for child in domain.children %}
                    <option value="{{ child.id }}" selected="selected">{{ child.name }}</option>
                {% endfor %}
                </select>
                <small id="childrenDesc" class="form-text text-muted">{{ help.children.text }}</small>
            </div>
            {% endif %}

        </div>
    </fieldset>

    <fieldset>
        <legend>{{ _("Folders") }}</legend>
        <div class="row">
            {% with "sentFolder" as id %}
            {% with help.sentFolder.title as label %}
            {% with help.sentFolder.text as helpText %}
            {% with validationErrors.sentFolder.count as errorCount %}
            {% with validationErrors.sentFolder.0 as errorText %}
            {% with sentFolder|default_if_none:domain.sentFolder.name as value %}
            {% i18nc_var "Placeholder for sent folder input field" "Sent messages" as sentFolderPlaceholder %}
            {% with sentFolderPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}



            {% with "draftsFolder" as id %}
            {% with help.draftsFolder.title as label %}
            {% with help.draftsFolder.text as helpText %}
            {% with validationErrors.draftsFolder.count as errorCount %}
            {% with validationErrors.draftsFolder.0 as errorText %}
            {% with draftsFolder|default_if_none:domain.draftsFolder.name as value %}
            {% i18nc_var "Placeholder for default drafts folder input field" "Drafts" as draftsFolderPlaceholder %}
            {% with draftsFolderPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}



            {% with "trashFolder" as id %}
            {% with help.trashFolder.title as label %}
            {% with help.trashFolder.text as helpText %}
            {% with validationErrors.trashFolder.count as errorCount %}
            {% with validationErrors.trashFolder.0 as errorText %}
            {% with trashFolder|default_if_none:domain.trashFolder.name as value %}
            {% i18nc_var "Placeholder for default trash folder input field" "Trash" as trashFolderPlaceholder %}
            {% with trashFolderPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}



            {% with "junkFolder" as id %}
            {% with help.junkFolder.title as label %}
            {% with help.junkFolder.text as helpText %}
            {% with validationErrors.junkFolder.count as errorCount %}
            {% with validationErrors.junkFolder.0 as errorText %}
            {% with junkFolder|default_if_none:domain.junkFolder.name as value %}
            {% i18nc_var "Placeholder for default junk folder input field" "Junk" as junkFolderPlaceholder %}
            {% with junkFolderPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}



            {% with "archiveFolder" as id %}
            {% with help.archiveFolder.title as label %}
            {% with help.archiveFolder.text as helpText %}
            {% with validationErrors.archiveFolder.count as errorCount %}
            {% with validationErrors.archiveFolder.0 as errorText %}
            {% with archiveFolder|default_if_none:domain.archiveFolder.name as value %}
            {% i18nc_var "Placeholder for default archive folder input field" "Archive" as archiveFolderPlaceholder %}
            {% with archiveFolderPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}



            {% with "otherFolders" as id %}
            {% with help.otherFolders.title as label %}
            {% with help.otherFolders.text as helpText %}
            {% with validationErrors.otherFolders.count as errorCount %}
            {% with validationErrors.otherFolders.0 as errorText %}
            {% with otherFolders|default_if_none:domain.otherFolders.name as value %}
            {% i18nc_var "Placeholder for other default folder input fields" "Templates" as otherFoldersPlaceholder %}
            {% with otherFoldersPlaceholder as placeholder %}

            {% include "inc/forms/inputfield.html" %}

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
    </fieldset>

    <div class="mt-1">
        <a href="/domain/{{ domain.id }}/accounts" class="btn btn-outline-warning float-left" role="button"><i class="fas fa-times"></i> {{ _("Cancel") }}</a>
        <button type="submit" class="btn btn-outline-primary float-right"><i class="fas fa-save"></i> {{ _("Create") }}</button>
        <div class="clearfix"></div>
    </div>
</form>
