<div class="row">
    <div class="col-12 col-lg-6"><h2><i class="fas fa-stethoscope"></i> {{ _("Check domain") }} <small class="text-muted">{{ domain.name }}</small></h2></div>
    <div class="col-12 col-lg-6">
        <button type="button" id="checkdomain" data-accountids="{{ accountids }}" data-domainid="{{ domain.id }}" data-baseurl="{{ baseurl }}" class="btn btn-outline-primary float-right ml-1"{% if domain.accounts == 0 %} disabled{% endif %}><i class="fas fa-stethoscope"></i> {{ _("Start check") }}</button>
        <a href="/domain/{{ domain.id }}/accounts" class="btn btn-outline-secondary float-right" role="button"><i class="far fa-arrow-alt-circle-left"></i> {{ _("Back") }}</a>
    </div>
</div>

{% if domain.accounts > 0 %}
<div class="mt-1">
    <form id="checkDomainForm">
        {% if domain.children.count > 0 %}
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="checkChildAddresses" value="1">
                {{ _("Check for missing child domain addresses") }}
            </label>
        </div>
        {% endif %}
    </form>
</div>

<div class="mt-1">
    <div class="progress">
        <div id="checkdomainprogress" class="progress-bar bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ domain.accounts }}">0/{{ domain.accounts }}</div>
    </div>
</div>

<div class="mt-1" id="checkdomaininfo">

</div>

{% else %}

<div class="alert alert-info mt-1" role="alert">
    {{ _("This domain has no accounts that can be checked.") }}
</div>
{% endif %}
