<div class="row">
    <div class="col"><h2><i class="fa fa-cube"></i> {{ _("Edit domain") }} <small class="text-muted">{{ domain.name }}</small></h2></div>
</div>

<div class="row mt-1">
    <div class="col-12 col-sm-12 col-md-6">
    
        <form method="post">
              
            <div class="form-group row">
                <label class="col-12 col-lg-4 col-form-label">{{ help.prefix.title }}</label>
                <div class="col-12 col-lg-8">
                    <p class="form-control-static">{{ domain.prefix }}</p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-12 col-lg-4 col-form-label">{{ help.created.title }}</label>
                <div class="col-12 col-lg-8">
                    <p class="form-control-static">{{ _(domain.created) }}</p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-12 col-lg-4 col-form-label">{{ help.updated.title }}</label>
                <div class="col-12 col-lg-8">
                    <p class="form-control-static">{{ _(domain.updated) }}</p>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="maxAccounts" class="col-12 col-lg-4 col-form-label">{{ help.maxAccounts.title }}</label>
                {% ifequal userType 0 %}
                <div class="col-12 col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{ domain.accounts }} /</span>
                        <input type="number" id="maxAccounts" name="maxAccounts" class="form-control" value="{{ domain.maxAccounts }}" min="0" required>
                    </div>
                </div>
                {% else %}
                <div class="col-12 col-lg-8">
                    <p class="form-control-static">{{ domain.accounts }}/{% if domain.maxAccounts > 0 %}{{ domain.maxAccounts }}{% else %}{{ _("unlimited") }}{% endif %}</p>
                </div>
                {% endifequal %}
            </div>
            
            <div class="form-group row">
                <label for="domainQuota" class="col-12 col-lg-4 col-form-label">{{ help.domainQuota.title }}</label>
                <div class="col-12 col-lg-8">
                    {% ifequal userType 0 %}
                    <div class="input-group">
                        <input type="number" id="domainQuota" name="domainQuota" class="form-control" value="{{ domain.domainQuota|default:defDomainQuota }}" min="0" aria-describedby="domainQuotaKiB" required>
                        <span class="input-group-addon" id="domainQuotaKiB">KiB</span>
                    </div>
                    {% else %}
                    <p class="form-control-static">{% if domain.domainQuota > 0 %}{{ _(domain.domainQuota) }} KiB{% else %}{{ _("unlimited") }}{% endif %}</p>
                    {% endifequal %}
                </div>
            </div>
            
            <div class="form-group row">
                <label for="quota" class="col-12 col-lg-4 col-form-label">{{ help.quota.title }}</label>
                <div class="col-12 col-lg-8">
                    <div class="input-group">
                        <input type="number" id="quota" name="quota" class="form-control" value="{{ domain.quota|default:defQuota}}" min="0"{% if userType != 0 %} max="domain.domainQuota|default:defDomainQuota" {% endif %}aria-describedby="quotaKiB" required>
                        <span class="input-group-addon" id="quotaKiB">KiB</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="folders" class="col-12 col-lg-4 col-form-label">{{ help.folders.title }}</label>
                <div class="col-12 col-lg-8">
                    <input type="text" id="folders" name="folders" class="form-control" value="{% for folder in domain.folders %}{{ folder.name }}{% if not forloop.last %},{% endif %}{% endfor %}" placeholder="{{ _("e.g. Trash,Spam,Drafts,Sent Messages") }}">
                </div>
            </div>
            
            {% ifequal userType 0 %}
            <div class="form-group row">
                <label for="freeNames" class="col-6 col-lg-4">{{ help.freeNames.title }}</label>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id="freeNames" name="freeNames" value="1"{% if domain.freeNames %} checked{% endif %}>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="freeAddress" class="col-6 col-lg-4">{{ help.freeAddress.title }}</label>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id="freeAddress" name="freeAddress" value="1"{% if domain.freeAddress %} checked{% endif %}>
                    </div>
                </div>
            </div>
            
            {% else %}
            
            <div class="form-group row">
                <label class="col-6 col-lg-4 col-form-label">{{ help.freeNames.title }}</label>
                <div class="col">
                    <i class="fa fa-{% if domain.freeNames %}check{% else %}times{% endif %}"></i>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-6 col-lg-4 col-form-label">{{ help.freeAddress.title }}</label>
                <div class="col">
                    <i class="fa fa-{% if domain.freeAddress %}check{% else %}times{% endif %}"></i>
                </div>
            </div>
            
            {% endifequal %}
            
            <div class="form-group row">
                <div class="col">
                    <a href="/domain/{{ domain.id }}/accounts" class="btn btn-outline-warning">{{ _("Close") }}</a>
                    <button type="submit" class="btn btn-outline-primary">{{ _("Update") }}</button>
                </div>
            </div>
            
        </form>
        
    </div>
    
    <div class="col-12 col-sm-12 col-md-6">
    
        <div class="card">
            <div class="card-header"><i class="fa fa-life-ring"></i> {{ _("Help") }}</div>
            <div class="card-block">
                <h6 class="card-subtitle text-muted">{{ help.prefix.title }}</h6>
                <p class="card-text mb-2">{{ help.prefix.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.created.title }}</h6>
                <p class="card-text mb-2">{{ help.created.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.updated.title }}</h6>
                <p class="card-text mb-2">{{ help.updated.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.maxAccounts.title }}</h6>
                <p class="card-text mb-2">{{ help.maxAccounts.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.domainQuota.title }}</h6>
                <p class="card-text mb-2">{{ help.domainQuota.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.quota.title }}</h6>
                <p class="card-text mb-2">{{ help.quota.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.folders.title }}</h6>
                <p class="card-text mb-2">{{ help.folders.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.freeNames.title }}</h6>
                <p class="card-text mb-2">{{ help.freeNames.text }}</p>
                <h6 class="card-subtitle text-muted">{{ help.freeAddress.title }}</h6>
                <p class="card-text mb-2">{{ help.freeAddress.text }}</p>
            </div>
        </div>
    
    </div>
</div>
