<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <h2><i class="fa fa-envelope"></i> {{ _("Add email address") }} <small class="text-muted">{{ account.username }}</small></h2>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <form id="createAddressForm" method="post">
            {% if domain.freeAddress %}
            <div class="row form-group">
                <div class="col-6">
                    <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" value="{{ newlocalpart }}" placeholder="{{  _("Local part") }}">
                </div>
                <div class="col-6">
                    <select class="form-control" id="newmaildomain" name="newmaildomain" class="form-control">
                        {% for dom in maildomains %}
                        <option value="{{ dom.name }}"{% if dom.name == newmaildomain|default:domain.name %} selected{% endif %}>@{{ dom.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% else %}
            <div class="row form-group">
                <div class="col">
                    <div class="input-group">
                        <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" value="{{ newlocalpart }}" placeholder="{{ _("Local part") }}">
                        <span class="input-group-addon">@{{ domain.name }}</span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="newmaildomain" value="{{ domain.name }}">
            {% endif %}
        </form>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <a class="btn btn-outline-warning float-left" href="/account/{{ domain.id }}/{{ account.id }}/addresses"><i class="fa fa-times"></i> {{ _("Cancel") }}</a>
        <button type="submit" form="createAddressForm" class="btn btn-outline-primary float-right"><i class="fa fa-plus"></i> {{ _("Add") }}</button>
    </div>
</div>
