<div class="row">
    <div class="col-12 col-lg-6">
        <h2><i class="fa fa-envelope"></i> {{ _("Email addresses") }} <small class="text-muted">{{ account.username }}</small></h2>
    </div>
    <div class="col-12 col-lg-6">
        <button id="addAddressButton" type="button" class="btn btn-outline-primary float-right" data-addaction="/account/{{ domain.id }}/{{ account.id }}/new_email"><i class="fa fa-plus"></i> {{ _("Add address") }}</button>
    </div>
</div>

<div class="row mt-1">
    <section class="col">
    
        <table id="addressesTable" class="table table-responsive" data-removequestion="{{ _("Are you sure you want to delete the email address “$1” from this account?") }}">
            <thead>
                <tr>
                    <th>{{ _("Actions") }}</th>
                    <th>{{ _("Email address") }}</th>
                </tr>
            </thead>
            <tbody id="addressesTableBody">
                {% for address in account.addresses %}
                <tr data-domainid="{{ domain.id }}" data-accountid="{{ account.id }}" data-address="{{ address }}">
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Email address actions") }}">
                            <button type="button" class="btn btn-primary edit-address-btn" title="{{ _("Edit address") }}"><i class="fa fa-edit fa-fw"></i></button>
                            <button type="button" class="btn btn-danger remove-address-btn" title="{{ _("Delete address") }}" {%if account.addresses.count <= 1 %} disabled{% endif %}><i class="fa fa-trash fa-fw"></i></button>
                        </div>
                    </td>
                    <td>{{ address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </section>    
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-describedby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel" data-addlabel="{{ _("Add new email address") }}" data-editlabel="{{ _("Edit email address") }}">{{ _("Add new email address") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addressForm">
                    <div class="container-fluid">
                        <div class="row">
                            {% if domain.freeAddress %}
                            <div class="col-12 col-md-6">
                                <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" placeholder="{{ _("Local part") }}" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <select class="form-control" id="newmaildomain" name="newmaildomain" class="form-control">
                                    {% for dom in maildomains %}
                                    <option value="{{ dom.name }}"{% if dom.name == newmaildomain|default:domain.name %} selected{% endif %}>@{{ dom.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" value="{{ newlocalpart }}">
                                    <span class="input-group-addon">@{{ domain.name }}</span>
                                </div>
                            </div>
                            <input type="hidden" id="newmaildomain" name="newmaildomain" value="{{ domain.name }}">
                            {% endif %}
                        </div>
                        <div class="row">
                            <div id="modal-message-container" class="col">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> {{ _("Cancel") }}</button>
                <button type="submit" id="addressSubmit" form="addressForm" class="btn btn-primary"><i id="addressSubmitIcon" class="fa fa-save"></i> <span id="addressSubmitText" data-addlabel="{{ _("Add") }}" data-editlabel="{{ _("Change") }}">{{ _("Add") }}</span></button>
            </div>
        </div>
    </div>
</div>
