<div class="row">
    <div class="col-12 col-sm-9">
        <h2><i class="fa fa-envelope"></i> {{ _("Email addresses") }} <small class="text-muted">{{ account.username }}</small></h2>
    </div>
    <div class="col-12 col-sm-3">
        <a href="/account/{{ domain.id }}/{{ account.id }}/add_address" class="btn btn-outline-primary float-sm-right d-none d-sm-block" role="button"><i class="fa fa-plus"></i><span class="d-sm-none d-md-inline"> {{ _("Add") }}</span></a>
        <a href="/account/{{ domain.id }}/{{ account.id }}/add_address" class="btn btn-outline-primary btn-block d-block d-sm-none" role="button"><i class="fa fa-plus"></i> {{ _("Add") }}</a>
    </div>
</div>

<div class="row mt-1">
    <section class="col-12 col-sm-12 col-md-7">

        <table id="addressesTable" class="table table-responsive" data-removequestion="{{ _("Are you sure you want to delete the email address “$1” from this account?") }}">
            <thead>
                <tr>
                    <th>{{ _("Actions") }}</th>
                    <th>{{ _("Email address") }}</th>
                </tr>
            </thead>
            <tbody id="addressesTableBody">
                {% for address in account.addresses %}
                <tr data-domainid="{{ domain.id }}" data-accountid="{{ account.id }}" data-address="{{ address }}">
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Email address actions") }}">
                            <!-- <button type="button" class="btn btn-outline-primary edit-address-btn" title="{{ _("Edit address") }}"><i class="fa fa-edit fa-fw"></i></button>
                            <button type="button" class="btn btn-outline-danger remove-address-btn" title="{{ _("Delete address") }}" {%if account.addresses.count <= 1 %} disabled{% endif %}><i class="fa fa-trash fa-fw"></i></button> -->
                            <a href="/account/{{ domain.id }}/{{ account.id }}/edit_address/{{ address|sk_urlencode }}" class="btn btn-outline-primary" title="{{ _("Edit address") }}"><i class="fa fa-edit fa-fw"></i></a>
                            <a href="/account/{{ domain.id }}/{{ account.id }}/remove_address/{{ address|sk_urlencode }}" class="btn btn-outline-danger{%if account.addresses.count <= 1 %} disabled{% endif %}" title="{{ _("Remove address") }}"{%if account.addresses.count <= 1 %} aria-disabled="true"{% endif %}><i class="fa fa-trash fa-fw"></i></a>
                        </div>
                    </td>
                    <td>{{ address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

    <section class="col-12 col-sm-12 col-md-5">
        <div class="card">
            <div class="card-header"><i class="fa fa-life-ring"></i> {{ _("Help") }}</div>
            <div class="card-body">
                <p class="card-text">{{ _("Simply add new email addresses to an existing account. A single account can have multiple email addresses for which it receives emails.") }}</p>
                <p class="card-text">{{ _("When deleting email addresses from an account, keep in mind that there has to be still one email address for the domain the account is connected to.") }}
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-describedby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel" data-addlabel="{{ _("Add new email address") }}" data-editlabel="{{ _("Edit email address") }}">{{ _("Add new email address") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addressForm">
                    <div class="container-fluid">
                        <div class="row">
                            {% if domain.freeAddress %}
                            <div class="col-12 col-md-6">
                                <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" placeholder="{{ _("Local part") }}" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <select class="form-control" id="newmaildomain" name="newmaildomain">
                                    {% for dom in maildomains %}
                                    <option value="{{ dom.name }}"{% if dom.name == newmaildomain|default:domain.name %} selected{% endif %}>@{{ dom.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" id="newlocalpart" name="newlocalpart" class="form-control" value="{{ newlocalpart }}">
                                    <span class="input-group-addon">@{{ domain.name }}</span>
                                </div>
                            </div>
                            <input type="hidden" id="newmaildomain" name="newmaildomain" value="{{ domain.name }}">
                            {% endif %}
                        </div>
                        <div class="row">
                            <div id="modal-message-container" class="col">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> {{ _("Cancel") }}</button>
                <button type="submit" id="addressSubmit" form="addressForm" class="btn btn-primary"><i id="addressSubmitIcon" class="fa fa-save"></i> <span id="addressSubmitText" data-addlabel="{{ _("Add") }}" data-editlabel="{{ _("Change") }}">{{ _("Add") }}</span></button>
            </div>
        </div>
    </div>
</div>
