<div class="row">
    <div class="col"><h2><i class="fas fa-stethoscope"></i> {{ _("Check account") }} <small class="text-muted">{{ account.username }}</small></h2></div>
</div>

<div class="mt-1">
    {% if actions.count > 0 %}
    <ul>
        {% for action in actions %}
        <li>{{ action }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-success" role="alert">
        <strong>{{ _("Nothing to do.") }}</strong> {{ _("Everything seems to be ok with this account.") }}
    </div>
    {% endif %}
</div>

<div class="mt-1">
    <a href="/domain/{{ account.domainId }}/accounts" class="btn btn-outline-secondary float-left" role="button"><i class="far fa-arrow-alt-circle-left"></i> {{ _("Back") }}</a>
    <a href="/account/{{ account.domainId }}/{{ account.id }}/check" class="btn btn-outline-primary float-right"><i class="fas fa-stethoscope"></i> {{ _("Recheck") }}</a>
    <div class="clearfix"></div>
</div>
