<div class="row">
    <div class="col-12 col-sm-9">
        <h2><i class="fas fa-share-square"></i> {{ _("Forwards") }} <small class="text-muted">{{ account.username }}</small></h2>
    </div>
    <div id="addbuttons" class="col-12 col-sm-3">
        <button type="button" class="btn btn-outline-primary float-sm-right d-none d-sm-block" data-toggle="modal" data-target="#forwardModal" data-actiontype="add"><i class="fas fa-plus"></i><span class="d-sm-none d-md-inline"> {{ _("Add") }}</span></button>
        <button type="button" class="btn btn-outline-primary btn-block d-block d-sm-none" data-toggle="modal" data-target="#addressModal" data-actiontype="add"><i class="fas fa-plus"></i> {{ _("Add") }}</button>
        {# <a href="/account/{{ domain.id }}/{{ account.id }}/add_forward" class="btn btn-outline-primary float-sm-right d-none d-sm-block" role="button"><i class="fas fa-plus"></i><span class="d-sm-none d-md-inline"> {{ _("Add") }}</span></a> #}
        {# <a href="/account/{{ domain.id }}/{{ account.id }}/add_forward" class="btn btn-outline-primary btn-block d-block d-sm-none" role="button"><i class="fas fa-plus"></i> {{ _("Add") }}</a> #}
    </div>
</div>

<div class="row mt-1">
    <section class="col-12 col-sm-12 col-md-7">

        <div class="table-responsive-md">
            <table id="forwardsTable" class="table" data-domainid="{{ domain.id }}" data-accountid="{{ account.id }}">
                <thead>
                    <tr>
                        <th>{{ _("Actions") }}</th>
                        <th>{{ _("Forward address") }}</th>
                    </tr>
                </thead>
                <tbody id="forwardsTableBody">
                    {% for forward in account.forwards %}
                    <tr class="forward-row" data-forward="{{ forward }}">
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Forward address actions") }}">
                                <button type="button" class="btn btn-outline-primary edit-forward-btn" title="{{ _("Edit forward") }}" data-toggle="modal" data-target="#forwardModal" data-actiontype="edit"><i class="fas fa-edit fa-fw"></i></button>
                                <button type="button" class="btn btn-outline-danger remove-forward-btn" title="{{ _("Delete forward") }}"><i class="fas fa-trash fa-fw"></i></button>
                                {# <a href="/account/{{ domain.id }}/{{ account.id }}/edit_forward/{{ forward|sk_urlencode }}" class="btn btn-outline-primary" title="{{ _("Edit forward") }}"><i class="fas fa-edit fa-fw"></i></a> #}
                                {# <a href="/account/{{ domain.id }}/{{ account.id }}/remove_forward/{{ forward|sk_urlencode }}" class="btn btn-outline-danger" title="{{ _("Remove forward") }}"><i class="fas fa-trash fa-fw"></i></a> #}
                            </div>
                        </td>
                        <td>{{ forward }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {# {% if account.forwards.count > 0 %} #}
        {# <div class="mb-3"> #}
            {# <i class="far fa-{% if account.keepLocal %}check-square{% else %}square{% endif %}"></i> <a href="/account/{{ domain.id }}/{{ account.id }}/keep_local">{% if account.keepLocal %}{{ _("keep forwarded emails in the local mailbox") }}{% else %}{{ _("do not keep forwarded emails in the local mailbox") }}{% endif %}</a> #}
        {# </div> #}
        {# {% endif %} #}

        <button type="button" id="keepLocalBtn" class="btn btn-primary{% if account.forwards.count == 0 %} d-none{% endif %}" data-keeplocal="{% if account.keepLocal %}true{% else %}false{% endif %}"><i id="keepLocalIcon" class="far fa-{% if account.keepLocal %}check-square{% else %}square{% endif %}"></i> {{ _("keep forwarded emails in the local mailbox") }}</button>

    </section>

    <section class="col-12 col-sm-12 col-md-5">
        <div class="card">
            <div class="card-header"><i class="fas fa-life-ring"></i> {{ _("Help") }}</div>
            <div class="card-body">
                <p class="card-text">{{ _("Simply add new email addresses as forwarding destinations for this account's email addresses.") }}</p>
                <p class="card-text">{{ _("Optionally all incoming emails can be kept additionally in the account's inbox.") }}</p>
            </div>
        </div>
    </section>
</div>

<template id="forward-template">
    <tr class="forward-row">
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Forward address actions") }}">
                <button type="button" class="btn btn-outline-primary edit-forward-btn" title="{{ _("Edit forward") }}" data-toggle="modal" data-target="#forwardModal" data-actiontype="edit"><i class="fas fa-edit fa-fw"></i></button>
                <button type="button" class="btn btn-outline-danger remove-forward-btn" title="{{ _("Delete forward") }}"><i class="fas fa-trash fa-fw"></i></button>
            </div>
        </td>
        <td></td>
    </tr>
</template>

<div class="modal fade" id="forwardModal" tabindex="-1" role="dialog" aria-describedby="forwardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forwardModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="forwardForm" data-addaction="/account/{{ domain.id }}/{{ account.id }}/add_forward">
                    <input type="email" id="newforward" name="newforward" class="form-control" placeholder="{{ _("Forward email address") }}" required />
                </form>
                <div id="modal-message-container">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {{ _("Cancel") }}</button>
                <button type="submit" id="forwardSubmit" form="forwardForm" class="btn btn-primary"><i id="forwardSubmitIcon" class="fas fa-save"></i> <span id="forwardSubmitText"></span></button>
            </div>
        </div>
    </div>
</div>
