<div class="row">
    <div class="col"><h2><i class="fa fa-mail-forward"></i> {{ _("Forwards") }} <small class="text-muted">{{ account.username }}</small></h2></div>
</div>

<div class="row mt-1">
    <section class="col-12 col-sm-12 col-md-6">

        <form method="post">
            <div id="forwards" data-count="{{ account.forwards.count }}">
                {% for forward in account.forwards %}
                <div id="forward{{ forloop.counter }}" class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" name="forward" value="{{ forward }}">
                        <span class="input-group-btn">
                            <button class="btn btn-danger forward-delete-btn" type="button" data-target="#forward{{ forloop.counter }}"><i class="fa fa-trash"></i></button>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" id="keeplocal" name="keeplocal" value="1" class="form-check-input"{% if account.keepLocal %} checked{% endif %}>
                    {{ _("Keep a copy in the user's mailbox") }}
                </label>
            </div>

            <div class="form-group row">
                <div class="col">
                    <a href="/domain/{{ domain.id }}/accounts" class="btn btn-outline-warning"><i class="fa fa-arrow-circle-o-left"></i> {{ _("Cancel") }}</a>
                    <button type="button" class="btn btn-outline-primary" id="addforward"><i class="fa fa-plus"></i> {{ _("Add forward") }}</button>
                    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i> {{ _("Update") }}</button>
                </div>
            </div>
        </form>

    </section>

    <section class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-header"><i class="fa fa-life-ring"></i> {{ _("Help") }}</div>
            <div class="card-body">
                <p class="card-text">{{ _("Simply add new email addresses as forwarding destinations for this account's email addresses.") }}</p>
                <p class="card-text">{{ _("Optionally all incoming emails can be kept additionally in the account's inbox.") }}</p>
            </div>
        </div>
    </section>
</div>
