.kdev4/
docs/
*.kdev4
*~
.directory
templates/*/node_modules
templates/*/static/css
templates/*/static/js
templates/*/static/fonts
templates/*/static/i18n
templates/*/gulp
CMakeLists.txt.user
*.qm
*.pyc
