$enable-flex:   true;
@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../fonts";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";

@import "node_modules/select2/src/scss/core.scss";

// downloaded from https://raw.githubusercontent.com/angel-vladov/select2-bootstrap-theme/master/src/select2-bootstrap.scss
@import "select2-bootstrap.scss";

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

th.sortable {
    cursor: pointer;
}

.hidden-on-start {
    display: none;
}

.dasboard-number {
    font-size: $font-size-base * 3;
}

/******* PROGRESSBAR WIDTH *********/
@for $w from 0 through 100 {
    .pb-w-#{$w} {
        width: 1% * $w;
    }
}
