<div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <div class="card border-warning text-center">
            <div class="card-body">
                <i class="fas fa-exclamation-sircle fa-5x text-warning"></i>
                <h2 class="card-title">{{ _("Not found") }}</h2>
                <p class="card-text">{{ not_found_text|default:_("The requested resource could not be found or the requested page is not available.") }}</p>
            </div>
        </div>
    </div>
</div>
