<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ site_title }}{% if site_subtitle %} - {{ site_subtitle }}{% endif %} - Skaffari</title>


        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Skaffari</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="{{ _("Toggle navigation") }}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                <div class="navbar-nav mr-auto">
                    {% if user.type >= user.Administrator %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mainNavDomainMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cubes fa-fw"></i> {{ _("Domains") }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mainNavDomainMenu">
                            <a class="dropdown-item" href="/domain"><i class="fas fa-cubes fa-fw"></i> {{ _("Show all") }}</a>
                            <a class="dropdown-item" href="/domain/create"><i class="fas fa-plus fa-fw"></i> {{ _("Add domain") }}</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav-item">
                        <a class="nav-link" href="/domain"><i class="fas fa-cubes"></i> {{ _("Domains") }}</a>
                    </div>
                    {% endif %}

                    {% if domain.isValid %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mainNavCurrentDomain" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cube fa-fw"></i> {{ domain.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mainNavCurrentDomain">
                            <a class="dropdown-item" href="/domain/{{ domain.id }}/accounts"><i class="fas fa-users fa-fw"></i> {{ _("Accounts") }}</a>
                            <a class="dropdown-item" href="/domain/{{ domain.id }}/add_account"><i class="fas fa-user-plus fa-fw"></i> {{ _("Add account") }}</a>
                            <a class="dropdown-item" href="/domain/{{ domain.id }}/edit"><i class="fas fa-edit fa-fw"></i> {{ _("Edit domain") }}</a>
                            <a class="dropdown-item" href="/domain/{{ domain.id }}/check"><i class="fas fa-stethoscope fa-fw"></i> {{ _("Check domain") }}</a>
                            {% if user.type >= user.Administrator %}
                            <a class="dropdown-item text-danger" href="/domain/{{ domain.id }}/remove"><i class="fas fa-trash fa-fw"></i> {{ _("Delete domain") }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if account.isValid %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mainNavCurrentAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user fa-fw"></i> {{ account.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mainNavCurrentAccount">
                            <a class="dropdown-item" href="/account/{{ domain.id }}/{{ account.id }}/edit"><i class="fas fa-edit fa-fw"></i> {{ _("Edit accout") }}</a>
                            <a class="dropdown-item" href="/account/{{ domain.id }}/{{ account.id }}/addresses"><i class="far fa-envelope fa-fw"></i> {{ _("Email addresses") }}</a>
                            <a class="dropdown-item" href="/account/{{ domain.id }}/{{ account.id }}/forwards"><i class="fas fa-share-square fa-fw"></i> {{ _("Forwards") }}</a>
                            <a class="dropdown-item" href="/account/{{ domain.id }}/{{ account.id }}/check"><i class="fas fa-stethoscope fa-fw"></i> {{ _("Check account") }}</a>
                            <a class="dropdown-item text-danger" href="/account/{{ domain.id }}/{{ account.id }}/remove"><i class="fas fa-trash fa-fw"></i> {{ _("Delete account") }}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="navbar-nav">
                    {% if user.type >= user.Administrator %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mainNavSettingsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sliders-h fa-fw"></i><span class="d-md-none"> {{ _("Settings") }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mainNavSettingsMenu">
                            <a class="dropdown-item" href="/settings"><i class="fas fa-sliders-h fa-fw"></i> {{ _("Settings") }}</a>
                            <a class="dropdown-item" href="/admin"><i class="fas fa-users fa-fw"></i> {{ _("Admin users") }}</a>
                            <a class="dropdown-item" href="/about"><i class="fas fa-info-circle fa-fw"></i> {{ _("About Skaffari") }}</a>
                        </div>
                    </div>
                    {% else %}
                     <div class="nav-item">
                        <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i><span class="d-md-none"> {{ _("About Skaffari") }}</span></a>
                    </div>
                    {% endif %}

                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="mainNavUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-fw"></i><span class="d-md-none"> {{ user.username }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mainNavUserMenu">
                            <h6 class="dropdown-header d-none d-sm-none d-md-block">{{ user.username }}</h6>
                            <a class="dropdown-item" href="/myaccount"><i class="fas fa-user fa-fw"></i> {{ _("Account") }}</a>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-fw"></i> {{ _("Log out") }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {# if error_msg or status_msg #}
        <div id="messages-container" class="container-fluid">

            {% if error_msg %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{{ _("Close") }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ error_msg }}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if status_msg %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{{ _("Close") }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ status_msg }}
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        {# endif #}

        <div id="ajaxMessages" class="container-fluid">
        </div>

        <main class="container-fluid mt-3">
            {% include template %}
        </main>

        <script src="/js/scripts.js"></script>
    </body>
</html>
