<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>Skaffari - 403 - {{ _("CSRF protection check failed") }}</title>

        <link href="/css/style.css" rel="stylesheet"/>
    </head>

    <body>

        <main class="container-fluid">

            <div class="row justify-content-center mt-5">
                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="card border-danger text-center">
                        <div class="card-body">
                            <i class="fas fa-ban fa-5x text-danger"></i>
                            <h2 class="card-title">{{ _("Access denied") }}</h2>
                            <p class="card-text">{{ _("CSRF protection check failed. Please check your cookie settings.") }}<br />{{ error_msg }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </main>


        <script src="/js/scripts.js"></script>
    </body>
</html>

