<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Skaffari</title>

        <link href="/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        
        <main class="container-fluid">
        
            <div class="row justify-content-center">
                <div class="col col-md-6 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-header">{{ _("Skaffari login") }}</div>
                        <div class="card-block">
                            <form method="post" autocomplete="on">
                                <div class="form-group">
                                    <label class="sr-only" for="username">{{ _("Username") }}</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                        <input type="text" class="form-control" id="username" name="username" value="{{ username }}" placeholder='{{ _("Username") }}' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">{{ _("Password") }}</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                                        <input type="password" class="form-control" id="password" name="password" placeholder='{{ _("Password") }}' required>
                                    </div>
                                </div>
                                <button type="submit" name="submit" value="Submit" class="btn btn-primary" id="submitSetupForm"><i class="fa fa-lock"></i> {{ _("Login") }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if error_msg %}
            <div class="row justify-content-center mt-3">
                <div class="col col-md-6 col-lg-4 col-xl-4">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{{ _("Close") }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ error_msg }}
                    </div>
                </div>
            </div>
            {% endif %}
            
        </main>
    
    
        <script src="/js/scripts.js"></script>
    </body>
</html>
