<div class="row">
    <div class="col"><h2><i class="fas fa-user"></i> {{ _("Edit admin") }} <small class="text-muted">{{ adminaccount.username }}</small></h2></div>
</div>

{% i18nc_var "Datetime format string to display created and updated times on edit pages" "MMMM d, yyyy hh:mmap" as dtFormatString %}

<form method="post">

    {% c_csrf_token %}

    <fieldset>
        <div class="row mt-1">

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="username">{{ help.username.title }}</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameDesc" value="{{ adminaccount.username }}" readonly>
                <small id="usernameDesc" class="form-text text-muted">{{ help.username.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="created">{{ help.created.title }}</label>
                <input type="text" class="form-control" id="created" aria-describedby="createdDesc" value="{% sk_tzc adminaccount.created dtFormatString %}" readonly>
                <small id="createdDesc" class="form-text text-muted">{{ help.created.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="updated">{{ help.updated.title }}</label>
                <input type="text" class="form-control" id="updated" aria-describedby="updatedDesc" value="{% sk_tzc adminaccount.updated dtFormatString %}" readonly>
                <small id="updatedDesc" class="form-text text-muted">{{ help.updated.text }}</small>
            </div>

        </div>
    </fieldset>

    <fieldset>
        <div class="row">

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label class="col-form-label" for="passsword">{{ help.password.title }}</label>
                <input type="password" id="password" name="password" class="form-control{% if validationErrors.password.count %} is-invalid{% endif %}" placeholder="{{ help.password.title }}" aria-describedby="passwordDesc" autocomplete="new-password">
                {% if validationErrors.password.count %}<div class="invalid-feedback"><small>{{ validationErrors.password.0 }}</small></div>{% endif %}
                <small id="passwordDesc" class="form-text text-muted">{{ help.password.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                 <label class="col-form-label" for="password_confirmation">{{ help.password_confirmation.title }}</label>
                 <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="{{ help.password_confirmation.title }}" aria-describedby="passwordConfirmDesc">
                 <small id="passwordConfirmDesc" class="form-text text-muted">{{ help.password_confirmation.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label for="type" class="col-form-label">{{ help.type.title }}</label>
                <select class="form-control{% if validationErrors.type.count %} is-invalid{% endif %}" id="type" name="type" aria-describedby="typeDesc">
                    <option value="1"{% if not adminaccount.isSuperUser %} selected{% endif %}>{{ _("Domain master") }}</option>
                    <option value="0"{% if adminaccount.isSuperUser %} selected{% endif %}>{{ _("Super user") }}</option>
                </select>
                {% if validationErrors.type.count %}<div class="invlid-feedback"><small>{{ validationErrors.type.0 }}</small></div>{% endif %}
                <small id="typeDesc" class="form-text text-muted">{{ help.type.text }}</small>
            </div>

            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                <label for="assocdomains" class="col-form-label">{{ help.assocdomains.title }}</label>
                <select class="form-control{% if validationErrors.assocdomains.count %} is-invalid{% endif %} select2" id="assocdomains" name="assocdomains" multiple{% if not domains.size %} disabled{% endif %}>
                    {% for domain in domains %}
                    <option value="{{ domain.id }}"{% if domain.id in adminaccount.domains %} selected{% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
                {% if validationErrors.assocdomains.count %}<div class="invlid-feedback"><small>{{ validationErrors.assocdomains.0 }}</small></div>{% endif %}
                <small id="typeDesc" class="form-text text-muted">{{ help.assocdomains.text }}</small>
            </div>

        </div>
    </fieldset>

    <div class="mt-1">
        <a href="/admin" class="btn btn-outline-warning float-left" role="button"><i class="fas fa-times"></i> {{ _("Cancel") }}</a>
        <button type="submit" class="btn btn-outline-primary float-right"><i class="fas fa-save"></i> {{ _("Update") }}</button>
        <div class="clearfix"></div>
    </div>

</form>
