<div class="row">
    <div class="col">
        <a class="btn btn-outline-primary pull-right" href="/admin/create"><i class="fa fa-user-plus"></i> Add admin</a>
        <h2><i class="fa fa-users"></i> {{ _("Administrators") }}</h2>
    </div>
</div>

<div class="row mt-1">
    <div class="col">
        <table id="adminsTable" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>{{ _("Actions") }}</th>
                    <th>{{ _("Name") }}</th>
                    <th>{{ _("Type") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for admin in adminaccounts %}
                <tr>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Admin actions") }}">
                            <a href="/admin/{{ admin.id }}/edit" class="btn btn-primary" title='{{ _("Edit admin") }}'><i class="fa fa-edit fa-fw"></i></a>
                            <a href="/admin/{{ admin.id }}/remove" class="btn btn-danger" title='{{ _("Delete admin") }}'><i class="fa fa-trash fa-fw"></i></a>
                        </div>
                    </td>
                    <td><a href="/admin/{{ admin.id }}/edit">{{ admin.username }}</a></td>
                    <td>{% if admin.isSuperUser %}{{ _("Super user") }}{% else %}{{ _("Domain master") }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
