<div class="row">
    <div class="col-12 col-sm-9">
        <h2><i class="fas fa-users"></i> {{ _("Administrators") }}</h2>
    </div>
    <div class="col-12 col-sm-3">
        {% ifequal userType 0 %}
        <a class="btn btn-outline-primary float-sm-right d-none d-sm-block" href="/admin/create" role="button"><i class="fas fa-user-plus"></i><span class="d-sm-none d-md-inline"> {{ _("Add") }}</span></a>
        <a class="btn btn-outline-primary btn-block d-block d-sm-none" href="/admin/create" role="button"><i class="fas fa-user-plus"></i> {{ _("Add") }}</a>
        {% endifequal %}
    </div>
</div>

<div class="row mt-1">
    <div class="col">
        <div class="table-responsive">
            <table id="adminsTable" class="table">
                <thead>
                    <tr>
                        <th>{{ _("Actions") }}</th>
                        <th>{{ _("Name") }}</th>
                        <th>{{ _("Type") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in adminaccounts %}
                    <tr id="admin-{{ admin.id }}">
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="{{ _("Admin actions") }}">
                                <a href="/admin/{{ admin.id }}/edit" class="btn btn-outline-primary" title='{{ _("Edit admin") }}' role="button"><i class="fas fa-edit fa-fw"></i></a>
                                <button type="button" class="btn btn-outline-danger remove-admin-btn" title="{{ _("Delete admin") }}" data-toggle="modal" data-target="#removeAdminModal" data-adminid="{{ admin.id }}" data-username="{{ admin.username }}"><i class="fas fa-trash fa-fw"></i></button>
                            </div>
                        </td>
                        <td><a href="/admin/{{ admin.id }}/edit">{{ admin.username }}</a></td>
                        <td>{% if admin.isSuperUser %}{{ _("Super user") }}{% else %}{{ _("Domain master") }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if adminaccounts.count > 1 %}
<div class="modal fade" id="removeAdminModal" tabindex="-1" role="dialog" aria-describedby="removeAdminLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeAdminLabel">{{ _("Delete administrator") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ _("Close") }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-exclamation-triangle fa-5x text-danger"></i>
                    <h3 id="removeAdminName"></h3>
                    <p class="text-warning">{{ _("Are you sure you want to delete this administrator?") }}</p>
                    <p>{{ _("To proceed, please enter the user name of the administrator you want to delete.") }}</p>
                    <form id="removeAdminForm">
                        <input type="text" id="adminName" name="adminName" class="form-control" placeholder="{{ _("Administrator user name") }}" value="" required>
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div id="remove-admin-message-container" class="col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {{ _("Cancel") }}</button>
                <button type="submit" id="removeAdminSubmit" form="removeAdminForm" class="btn btn-danger"><i id="removeAdminIcon" class="fas fa-trash"></i> {{ _("Delete") }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
